In [4]:
import numpy as np
import pandas as pd
import networkx as nx

from sklearn.impute import SimpleImputer

# import Utils as Utils

In [45]:
data_path = "Sepsis/";
file_name = "Dataset.csv";
dataset = pd.read_csv(data_path+file_name,index_col=0);

dataset=dataset.drop(['Patient_ID'], axis=1);

display(dataset);
#print(mixed_sim_dataset.columns);

# # dataset.replace({"NO": 0, "YES": 1}, inplace=True);
# print(dataset["Gravidity"].unique());
# dataset.replace({'1st':1, '2nd':2, '5th':5, '3rd':3, '4th':4, '6th':6, '7th':7}, inplace=True);
# print(dataset["Gender"].unique());
# dataset.replace({"Girl": 1, "girl": 1,"boy":2}, inplace=True);
# print(dataset["Baby-Weight(g)"].unique());
# dataset.replace({"A": 1, "B": 2,"C":3}, inplace=True);

# display(dataset);

,Hour,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,...,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,68.54,0,NaN,NaN,-0.02,1,0
1,1,65.0,100.0,NaN,NaN,72.0,NaN,16.5,NaN,NaN,...,NaN,NaN,NaN,68.54,0,NaN,NaN,-0.02,2,0
2,2,78.0,100.0,NaN,NaN,42.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,68.54,0,NaN,NaN,-0.02,3,0
3,3,73.0,100.0,NaN,NaN,NaN,NaN,17.0,NaN,NaN,...,NaN,NaN,NaN,68.54,0,NaN,NaN,-0.02,4,0
4,4,70.0,100.0,NaN,129.0,74.0,69.0,14.0,NaN,NaN,...,11.3,NaN,330.0,68.54,0,NaN,NaN,-0.02,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21,21,83.0,99.0,NaN,121.0,77.0,54.0,22.0,NaN,NaN,...,NaN,NaN,NaN,88.00,0,1.0,0.0,-2.93,22,0
22,22,80.0,92.0,NaN,102.0,73.0,51.0,24.0,NaN,NaN,...,NaN,NaN,NaN,88.00,0,1.0,0.0,-2.93,23,0
23,23,95.0,97.0,36.7,128.5,83.0,58.5,25.0,NaN,NaN,...,NaN,NaN,NaN,88.00,0,1.0,0.0,-2.93,24,0
24,24,104.0,99.0,NaN,127.0,85.0,59.0,24.0,NaN,NaN,...,NaN,NaN,NaN,88.00,0,1.0,0.0,-2.93,25,0
25,25,94.5,99.0,NaN,112.0,81.0,56.0,22.0,NaN,NaN,...,NaN,NaN,NaN,88.00,0,1.0,0.0,-2.93,26,0

In [47]:
# Calculate the threshold for 50% missing values
threshold = len(dataset.columns) * 0.85;

# Drop rows with 50% or more missing values
dataset = dataset.dropna(thresh=threshold);

display(dataset);

,Hour,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,...,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel
33,33,81.0,97.0,37.00,111.0,72.0,56.0,14.0,NaN,3.0,...,8.1,264.0,45.0,37.26,1,NaN,NaN,-12.38,35,0
8,8,93.0,99.5,36.95,107.0,76.5,62.5,16.0,NaN,1.0,...,6.9,225.0,65.0,58.76,1,NaN,NaN,-13.87,9,0
0,0,107.0,100.0,38.30,147.5,106.0,79.5,14.0,NaN,0.0,...,8.8,131.5,104.5,49.80,1,NaN,NaN,-9.27,3,0
4,4,130.5,99.5,37.40,115.0,86.0,75.0,16.0,NaN,0.0,...,9.0,199.0,108.0,49.80,1,NaN,NaN,-9.27,7,0
10,10,86.0,100.0,36.70,93.5,54.0,46.5,13.0,NaN,4.0,...,17.7,260.0,166.0,63.55,1,NaN,NaN,-80.20,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,9,91.0,97.0,37.60,112.0,76.0,57.0,19.0,19.5,NaN,...,16.2,173.0,107.0,70.00,1,0.0,1.0,-99.28,10,0
17,17,50.0,99.0,35.90,136.0,94.0,68.0,8.0,NaN,NaN,...,10.8,378.0,82.0,47.00,0,0.0,1.0,-19.67,18,0
13,13,122.5,99.0,NaN,116.5,64.5,45.5,18.0,16.5,NaN,...,8.2,199.0,120.0,80.00,1,0.0,1.0,-143.38,14,0
19,19,87.5,97.0,37.35,104.5,74.5,79.5,18.0,83.0,NaN,...,17.9,352.0,263.0,51.00,0,0.0,1.0,-49.16,20,0
0,0,90.0,95.5,37.50,90.0,62.0,44.0,NaN,NaN,NaN,...,18.9,91.0,94.0,58.00,0,0.0,1.0,-14.60,5,0

In [37]:
dataset['SepsisLabel'].unique()

array([0, 1])

In [49]:
# from sklearn.impute import KNNImputer
# imputer = KNNImputer(n_neighbors=2);
# dataset.loc[:,:] = imputer.fit_transform(dataset.loc[:,:]);
# dataset

from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean');

# Define the condition for imputation
condition = dataset['SepsisLabel'] == 1;

# # Apply imputation only to rows that meet the condition
dataset.loc[condition, :] = imputer.fit_transform(dataset.loc[condition, :]);

# Define the condition for imputation
condition = dataset['SepsisLabel'] == 0;

# # Apply imputation only to rows that meet the condition
dataset.loc[condition, :] = imputer.fit_transform(dataset.loc[condition, :]);

display(dataset);

,Hour,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,...,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel
33,33,81.0,97.0,37.000000,111.0,72.0,56.0,14.000000,30.397059,3.00000,...,8.1,264.0,45.0,37.26,1,0.394737,0.605263,-12.38,35,0
8,8,93.0,99.5,36.950000,107.0,76.5,62.5,16.000000,30.397059,1.00000,...,6.9,225.0,65.0,58.76,1,0.394737,0.605263,-13.87,9,0
0,0,107.0,100.0,38.300000,147.5,106.0,79.5,14.000000,30.397059,0.00000,...,8.8,131.5,104.5,49.80,1,0.394737,0.605263,-9.27,3,0
4,4,130.5,99.5,37.400000,115.0,86.0,75.0,16.000000,30.397059,0.00000,...,9.0,199.0,108.0,49.80,1,0.394737,0.605263,-9.27,7,0
10,10,86.0,100.0,36.700000,93.5,54.0,46.5,13.000000,30.397059,4.00000,...,17.7,260.0,166.0,63.55,1,0.394737,0.605263,-80.20,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,9,91.0,97.0,37.600000,112.0,76.0,57.0,19.000000,19.500000,-1.47686,...,16.2,173.0,107.0,70.00,1,0.000000,1.000000,-99.28,10,0
17,17,50.0,99.0,35.900000,136.0,94.0,68.0,8.000000,30.397059,-1.47686,...,10.8,378.0,82.0,47.00,0,0.000000,1.000000,-19.67,18,0
13,13,122.5,99.0,36.621503,116.5,64.5,45.5,18.000000,16.500000,-1.47686,...,8.2,199.0,120.0,80.00,1,0.000000,1.000000,-143.38,14,0
19,19,87.5,97.0,37.350000,104.5,74.5,79.5,18.000000,83.000000,-1.47686,...,17.9,352.0,263.0,51.00,0,0.000000,1.000000,-49.16,20,0
0,0,90.0,95.5,37.500000,90.0,62.0,44.0,18.552859,30.397059,-1.47686,...,18.9,91.0,94.0,58.00,0,0.000000,1.000000,-14.60,5,0

In [51]:
file_name = "processed_data.csv";
dataset.to_csv(data_path+file_name,index=None)

In [26]:
# dataset.isnull().values.any()
# Remove rows with any NaN values
# dataset.dropna(inplace=True);
# dataset.columns
# dataset['TYPE']

# # Remove tab characters from all columns
# dataset = dataset.replace('\t', '', regex=True);

# dataset = dataset.replace('>', '', regex=True);

# dataset = dataset.replace('<', '', regex=True);

# display(dataset);

In [28]:
# # dataset['TYPE'].unique()
# # Create an imputer instance
# imputer = SimpleImputer(strategy='mean');

# # Define the condition for imputation
# condition = dataset['TYPE'] == 1;

# # # Apply imputation only to rows that meet the condition
# dataset.loc[condition, :] = imputer.fit_transform(dataset.loc[condition, :]);

# # Define the condition for imputation
# condition = dataset['TYPE'] == 0;

# # # Apply imputation only to rows that meet the condition
# dataset.loc[condition, :] = imputer.fit_transform(dataset.loc[condition, :]);

# display(dataset);

In [30]:
# import pandas as pd
# import numpy as np
# from sklearn.impute import SimpleImputer

# # Create a sample DataFrame
# data = {'A': [1, 2, 3, 4], 'B': [5, np.nan, 7, 8]}
# df = pd.DataFrame(data)
# display(df);

# # Define the condition for imputation
# condition = df['A'] > 1

# # Create an imputer instance
# imputer = SimpleImputer(strategy='mean')

# df.loc[condition, :]

# # # Apply imputation only to rows that meet the condition
# df.loc[condition, :] = imputer.fit_transform(df.loc[condition, :])

# display(df);

# # condition